<div class="row mt-4">
  <div class="col-md-9">
    <div class="list-group list-group-horizontal-md">
      <div class="list-group-item">
        <h5><%= @stock.name %></h5>
        <% if current_user.can_track_stock?(@stock.ticker) %>
          <dl>
            <dt>Ticker Symbol</dt>
            <dd><%= @stock.ticker %></dd>
            <dt>Price</dt>
            <dd class="text-success">$ <%= @stock.last_price %></dd>
          </dl>
        <% else %>
          <% if current_user.max_reached? %>
            <span class="badge badge-info">
              You are already tracking ten stocks
            </span>
          <% else %>
            <span class="badge badge-info">
              You are already tracking that stock
            </span>
          <% end %>
          <dl>
            <dt>Ticker Symbol</dt>
            <dd><%= @stock.ticker %></dd>
            <dt>Price</dt>
            <dd class="text-success">$ <%= @stock.last_price %></dd>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>

