<h1 class="mb-4 mt-3 mt-md-4">My Friends</h1>
<div class="row">
  <div class="col-12 col-md-9">
    <%= form_tag(search_friend_path, method: :get, remote: true, class: 'border shadow p-3') do %>
      <div class="form-group">
        <%= label_tag :friend, 'Search friends' %>
        <%= text_field_tag :friend, params[:friend], placeholder: 'Friend name or email', autofocus: true, class: 'form-control form-control-lg' %>
      </div>
      <%= button_tag type: :submit, class: 'btn btn-success' do %>
        Search <%= fa_icon 'search' %>
    <% end %>
  <% end %>
  </div>
</div>
<div id="result"></div>
<div id="friends-list">
  <% if @tracked_friends&.any? %>
    <%= render 'friendships/list' %>
  <% end %>
</div>

